@import url("https://use.typekit.net/xln6mnk.css");
body{
    margin: 0px;
    background: rgb(224,82,47);
background: linear-gradient(0deg, rgba(224,82,47,1) 18%, rgba(254,76,0,1) 52%, rgba(255,0,0,1) 100%);
}

.nav{
    background-color: coral;
    height: 10vh;
    width: 100%;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.627);
}

#logo{
    height:120%;
    margin: 5px;
}

.body{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items:center;
    width:100%;
    height: 100vh;
}

#mainLogo{
    height: 50vh;
    margin: 40px;
}

#joinButton{
    display: block;
    width: 30vh;
    height: 10vh;
    background-color: rgb(223, 245, 32);
    border-radius: 10px;
    margin: 20px;
    text-align: center;
    border: 4px solid rgba(114, 113, 113, 0.579);
    font-size: 4vh;
    padding-top: 4vh;
    font-family: grenadine-mvb, sans-serif;
    font-weight: 400;
    font-style: normal;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.627);
}

#joinButton:hover{
    cursor: pointer;
}