:root {
  --shakeAmount: 0px;
  /* --upIconRedness: 0%; */
  --background: coral;
}

@font-face {
  font-family: Nura;
  src: url("/Nura.ttf");
}

/* You can add global styles to this file, and also import other style files */
body {
  background-color: var(--background);
  /* background: linear-gradient(0deg, rgba(224,82,47,1) 18%, rgba(254,76,0,1) 52%, rgba(255,0,0,1) 100%); */
  padding: 0px;
  margin: 0px;
  overflow: hidden;
}
html {
  padding: 0px;
  margin: 0px;
}

.disabled {
  display: none;
  visibility: hidden;
}

.playerItem, .playerListLose {

  background-color: wheat;
  border-radius: 0.5em;
  color: black;
  font-size: 1.2em;
  font-family: "Nura Light";
  margin-top: 1em;
  padding: 1em;
  display: block;
  margin: 30px auto;
  border: 0px;
  width: 80%;
  letter-spacing: 1px;
  text-align: center;

}

.rotationMarker {
  width: 40vw;
  height: 40vw;
  display: block;
  left: 50vw;
  position: absolute;
  background-color: rgba(255, 0, 0, 0.5);
  z-index: -20;
  transform-origin: 0% 100%;
  transform: rotate(-45deg);
  /* rotate: 45deg; */
}

h2 {
  font-family: "Roboto";
  text-align: center;
  margin-top: 1em;
}

.bigIcon {
  margin: auto;
  width: 85vw;
  max-width: 400px;
  rotate: 0deg;
}

.bigIcon img {
  width: 100%;
  height: auto;
  filter: drop-shadow(6px 6px 0px rgb(0, 0, 0, 0.75));
  /* animation: shake 0.2s infinite; */
  /* transform: rotateZ(30deg); */
}

@keyframes shake {
  0%   { transform: translateX(calc(-1 * var(--shakeAmount))) }
  50%  { transform: translateX(var(--shakeAmount)) }
  100% { transform: translateX(calc(-1 * var(--shakeAmount))) }
}

@keyframes loseColour {
  0% {background-color: rgb(213, 132, 123); }
  100% {background-color: rgb(180, 46, 46);}
}

@keyframes winColour {
  0% {background-color: rgb(195, 252, 187); }
  100% {background-color: rgb(64, 220, 36);}
}

.shakeBar {
  position: absolute;
  background-color: black;
  opacity: 0.5;
  width: 100%;
  z-index: -10;
  bottom: 0px;
  /* height: 100px; */

  color: white;
  font-family: "Nura";
}

.nav {
  /* width: 100vw; */
  background-color: var(--background);
  height: 8vh;
  min-height: 40px;
  padding: 0.4em 0px 0.4em 0.4em;
  filter: drop-shadow(0px 0px 10px black);
  margin-bottom: 3em;
}

p {
  text-align: center;
  color: white;
  font-family: "Roboto";
  font-size: 2em;
}

#logo{
  height: 80%;
  width: auto;
  justify-content: center;
  display: block;
}

.body{
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items:center;
  width:100%;
  height: 100vh;
}

#mainLogo {
  height: 50vh;
  margin: 40px;
}

#joinButton {
  display: none;
  margin: auto;
  margin-top: 1em;
  border: 0px;
  border-radius: 0.3em;
  padding: 1em;
  color: white;
  font-family: "Nura";
  font-size: 2em;
  letter-spacing: 1px;
  background-color: brown;
  transition: transform 0.05s ease-in-out;
  text-align: center;
  width: 80%;
  max-width: 400px;
}

#joinButtonNo {
  margin: auto;
  margin-top: 1em;
  border: 0px;
  border-radius: 0.3em;
  padding: 1em;
  color: rgb(225, 225, 225);
  font-family: "Nura";
  font-size: 2em;
  letter-spacing: 1px;
  background-color: rgb(148, 87, 87);
}

#startButton {
  display: block;
  margin: auto;
  margin-top: 1em;
  border: 0px;
  border-radius: 0.3em;
  padding: 1em;
  color: white;
  font-family: "Nura";
  font-size: 2em;
  letter-spacing: 1px;
  background-color: brown;
  transition: transform 0.05s ease-in-out;
}

#joinButton:hover, #startButton:hover {
  background-color: rgb(180, 46, 46);
  transform: scale(1.05);
  cursor: pointer;
  user-select: none;
  /* box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.627); */
}

#joinButton:active, #startButton:active {
  background-color: rgb(151, 36, 36);
  transform: scale(0.97);
}


#body{
  display: flex;
  padding-top: 10vh;
  justify-content: center;
}

#message{
height: 30vh;

}

.img{
  width: 100%;
  animation: shake 0.2s infinite;
}

#winnerPage{
  animation: winColour 0.5s linear 0s infinite alternate forwards ;
}

#loserPage{
  animation: loseColour 0.5s linear 0s infinite alternate forwards ;
}

#clickable{
  /* background-color: rgba(195, 195, 195, 0.01); */
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0px;
  left: 0px;
}

#qr {
  display: block;
  margin: auto;
  margin-top: 2em;
  width: 90vw;
  max-width: 400px;
}

#frame{
  width: 100%;
  height: 100vh;
  
}

.hiddenAudioElement {
  display: none;
}

.joinPage{
  background-color: coral;
}

.gamePage
{
  background-color: var(--background);
  height: 100vh;
}

.startPage{
  background-color: coral;
}

.losePage{
  height: 100vh;
}

#loserImg{
  width: 50%;
  margin: 5px auto;
  display: block;
}