.joinButton {
  display: block;
  margin: auto;
  border: 0px;
  border-radius: 0.3em;
  padding: 1em;
  color: white;
  font-family: "Nura";
  font-size: 2em;
  letter-spacing: 1px;
  background-color: brown;
  transition: transform 0.05s ease-in-out;
}
.joinButton:hover {
  background-color: rgb(180, 46, 46);
  transform: scale(1.05);
}

.joinButton:active {
  background-color: rgb(151, 36, 36);
}
