@font-face {
  font-family: Nura;
  src: url("/assets/Nura.ttf");
}

/* You can add global styles to this file, and also import other style files */
body {
  background-color: coral;
  padding: 0px;
  margin: 0px;
}
